<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../iron-icons/editor-icons.html">
<link rel="import" href="../paper-item/paper-item.html">
<!--
`campus-theme`
@demo demo/campus-theme.html
-->
<dom-module id="campus-theme">
    <style include="iron-flex iron-flex-alignment"></style>
    <style>
        :host {
            display: block;
            position: relative;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }
        
        :host paper-item {
            color: rgba(0, 0, 0, .67);
            min-height: 36px;
        }
        
        :host paper-item:hover {
            background-color: rgba(0, 0, 0, .13);
            cursor: pointer;
        }
        
        :host .ellipsis-text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        
        :host .theme-item {
            width: calc(100% / 8);
            height: 32px;
            cursor: pointer;
        }
    </style>
    <template>
        <paper-item on-tap="_toggle">
            <iron-icon icon="editor:format-paint"></iron-icon>
            <span style="margin-left:10px">[[title]]</span>
        </paper-item>
        <div class="layout horizontal wrap" style="border-bottom:1px solid #ddd" hidden$="[[hiddenItem]]">
            <div class="theme-item" style="background:#F44336" on-tap="_change" target="red"></div>
            <div class="theme-item" style="background:#E91E63" on-tap="_change" target="pink"></div>
            <div class="theme-item" style="background:#9C27B0" on-tap="_change" target="purple"></div>
            <div class="theme-item" style="background:#673AB7" on-tap="_change" target="deep-purple"></div>
            <div class="theme-item" style="background:#3F51B5" on-tap="_change" target="indigo"></div>
            <div class="theme-item" style="background:#2196F3" on-tap="_change" target="blue"></div>
            <div class="theme-item" style="background:#00BCD4" on-tap="_change" target="cyan"></div>
            <div class="theme-item" style="background:#009688" on-tap="_change" target="teal"></div>
            <div class="theme-item" style="background:#4CAF50" on-tap="_change" target="green"></div>
            <div class="theme-item" style="background:#CDDC39" on-tap="_change" target="lime"></div>
            <div class="theme-item" style="background:#FFC107" on-tap="_change" target="amber"></div>
            <div class="theme-item" style="background:#FF9800" on-tap="_change" target="orange"></div>
            <div class="theme-item" style="background:#FF5722" on-tap="_change" target="deep-orange"></div>
            <div class="theme-item" style="background:#795548" on-tap="_change" target="brown"></div>
            <div class="theme-item" style="background:#9E9E9E" on-tap="_change" target="grey"></div>
            <div class="theme-item" style="background:#607D8B" on-tap="_change" target="blue-grey"></div>
        </div>
    </template>
    <script>
        Polymer({
            is: "campus-theme",

            properties: {
                language: {
                    type: Object,
                    readOnly: true,
                    value: {
                        "default": "zh-tw",
                        "zh-tw": {
                            "red": "紅",
                            "pink": "粉紅",
                            "purple": "紫",
                            "deep-purple": "深紫",
                            "indigo": "靛藍",
                            "blue": "藍",
                            "cyan": "青",
                            "teal": "水鴨",
                            "green": "綠",
                            "lime": "青檸",
                            "amber": "琥珀",
                            "orange": "橙",
                            "deep-orange": "深橙",
                            "brown": "棕",
                            "grey": "灰",
                            "blue-grey": "藍灰"
                        },
                        "zh-cn": {
                            "red": "红",
                            "pink": "粉红",
                            "purple": "紫",
                            "deep-purple": "深紫",
                            "indigo": "靛蓝",
                            "blue": "蓝",
                            "cyan": "青",
                            "teal": "水鸭",
                            "green": "绿",
                            "lime": "青柠",
                            "amber": "琥珀",
                            "orange": "橙",
                            "deep-orange": "深橙",
                            "brown": "棕",
                            "grey": "灰",
                            "blue-grey": "蓝灰"
                        },
                        "en-us": {
                            "red": "RED",
                            "pink": "PINK",
                            "purple": "PURPLE",
                            "deep-purple": "DEEP PURPLE",
                            "indigo": "INDIGO",
                            "blue": "BLUE",
                            "cyan": "CYAN",
                            "teal": "TEAL",
                            "green": "GREEN",
                            "lime": "LIME",
                            "amber": "AMBER",
                            "orange": "ORANGE",
                            "deep-orange": "DEEP ORANGE",
                            "brown": "BROWN",
                            "grey": "GREY",
                            "blue-grey": "BLUE GREY"
                        }
                    }
                },
                selected: {
                    type: String,
                    observer: '_selectedChanged'
                },
                lang: {
                    type: Object,
                    observer: '_langChanged'
                }
            },

            _selectedChanged: function(newValue, oldValue) {
                this.set('title', this.language[this.lang ? this.lang.code : this.language.default][newValue]);
            },

            _langChanged: function(newValue, oldValue) {
                this.set('title', this.language[newValue.code][this.selected]);
            },

            ready: function() {
                this.set('hiddenItem', true);
            },

            close: function() {
                this.set('hiddenItem', true);
            },

            _toggle: function(e) {
                this.set('hiddenItem', !this.hiddenItem);
                this.fire('toggle');
            },

            _change: function(e) {
                var target = e.target.getAttribute('target');
                this.set('selected', target);

                this.fire('changed', {
                    theme: target
                });
            }
        });

        /*
         * @event changed
         * @event toggle
         */
    </script>
</dom-module>
