<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../paper-item/paper-item.html">
<!--
`campus-role`
@demo demo/campus-role.html
-->
<dom-module id="campus-role">
    <style>
        :host {
            display: block;
            position: relative;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }
        
        :host paper-item {
            color: rgba(0, 0, 0, .67);
            min-height: 36px;
        }
        
        :host paper-item:hover {
            background-color: rgba(0, 0, 0, .13);
            cursor: pointer;
        }
        
        :host .ellipsis-text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
    <template>
        <div hidden$="[[oneRole]]">
            <paper-item on-tap="_toggle">
                <iron-icon icon="icons:account-circle"></iron-icon>
                <span style="margin-left:10px">[[title]]</span>
            </paper-item>
            <div style="border-bottom:1px solid #ddd" hidden$="[[hiddenItem]]">
                <paper-item style="padding-left:50px" on-tap="_change" target="admin" hidden$="[[!roles.admin]]">[[translate._01]]</paper-item>
                <paper-item style="padding-left:50px" on-tap="_change" target="teacher" hidden$="[[!roles.teacher]]">[[translate._02]]</paper-item>
                <paper-item style="padding-left:50px" on-tap="_change" target="student" hidden$="[[!roles.student]]">[[translate._03]]</paper-item>
                <paper-item style="padding-left:50px" on-tap="_change" target="parent" hidden$="[[!roles.parent]]">[[translate._04]]</paper-item>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: "campus-role",

            properties: {
                language: {
                    type: Object,
                    readOnly: true,
                    value: {
                        "default": "zh-tw",
                        "zh-tw": {
                            "_01": "管理員",
                            "_02": "教師",
                            "_03": "學生",
                            "_04": "家長"
                        },
                        "zh-cn": {
                            "_01": "管理员",
                            "_02": "教师",
                            "_03": "学生",
                            "_04": "家长"
                        },
                        "en-us": {
                            "_01": "Admin",
                            "_02": "Teacher",
                            "_03": "Student",
                            "_04": "Parent"
                        },
                        "vi-vn": {
                            "_01": "Người quản lý",
                            "_02": "Giáo viên",
                            "_03": "Học sinh",
                            "_04": "Phụ huynh"
                        }
                    }
                },
                roles: {
                    type: Object,
                    observer: '_rolesChanged'
                },
                selected: {
                    type: String,
                    observer: '_selectedChanged'
                },
                lang: {
                    type: Object,
                    observer: '_langChanged'
                }
            },

            _rolesChanged: function(newValue, oldValue) {
                var count = 0;
                count += newValue.admin ? 1 : 0;
                count += newValue.teacher ? 1 : 0;
                count += newValue.student ? 1 : 0;
                count += newValue.parent ? 1 : 0;

                this.set('oneRole', count > 1 ? false : true);
            },

            _selectedChanged: function(newValue, oldValue) {
                if (!this.translate)
                    this.set('translate', this.language[this.language.default]);
                this.set('title', [this.translate._01, this.translate._02, this.translate._03, this.translate._04][
                    ['admin', 'teacher', 'student', 'parent'].indexOf(newValue)
                ]);
            },

            _langChanged: function(newValue, oldValue) {
                if (newValue) {
                    this.set('translate', this.language[newValue.code] || this.language[this.language.default]);
                    this.set('title', [this.translate._01, this.translate._02, this.translate._03, this.translate._04][
                        ['admin', 'teacher', 'student', 'parent'].indexOf(this.selected)
                    ]);
                }
            },

            ready: function() {
                this.set('hiddenItem', true);
            },

            close: function() {
                this.set('hiddenItem', true);
            },

            _toggle: function(e) {
                this.set('hiddenItem', !this.hiddenItem);
                this.fire('toggle');
            },

            _change: function(e) {
                var node = e.target;
                while (node.nodeName !== 'PAPER-ITEM') {
                    node = node.parentNode;
                }
                var target = node.getAttribute('target');

                this.set('selected', target);

                this.fire('changed', {
                    role: target
                });
            }
        });

        /*
         * @event changed
         * @event toggle
         */
    </script>
</dom-module>
