<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../paper-item/paper-item.html">
<!--
`campus-language`
@demo demo/campus-language.html
-->
<dom-module id="campus-language">
    <style>
        :host {
            display: block;
            position: relative;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }
        
        :host paper-item {
            color: rgba(0, 0, 0, .67);
            min-height: 36px;
        }
        
        :host paper-item:hover {
            background-color: rgba(0, 0, 0, .13);
            cursor: pointer;
        }
        
        :host .ellipsis-text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
    <template>
        <paper-item on-tap="_toggle">
            <iron-icon icon="icons:language"></iron-icon>
            <span style="margin-left:10px">[[selected.title]]</span>
        </paper-item>
        <div style="border-bottom:1px solid #ddd" hidden$="[[hiddenItem]]">
            <template is="dom-repeat" items="[[items]]">
                <paper-item style="padding-left:50px" on-tap="_change">[[item.title]]</paper-item>
            </template>
        </div>
    </template>
    <script>
        Polymer({
            is: "campus-language",

            properties: {
                items: {
                    type: Array,
                    readOnly: true,
                    value: [{
                        title: "繁體中文",
                        code: "zh-tw"
                    }, {
                        title: "简体中文",
                        code: "zh-cn"
                    }, {
                        title: "English",
                        code: "en-us"
                    }, {
                        title: "Tiếng Việt",
                        code: "vi-vn"
                    }]
                },
                selected: Object
            },

            ready: function() {
                this.set('hiddenItem', true);
            },

            close: function() {
                this.set('hiddenItem', true);
            },

            _toggle: function(e) {
                this.set('hiddenItem', !this.hiddenItem);
                this.fire('toggle');
            },

            _change: function(e) {
                this.set('selected', e.model.item);

                this.fire('changed', {
                    language: e.model.item
                });
            }
        });

        /*
         * @event changed
         * @event toggle
         */
    </script>
</dom-module>
