<script src="../page/page.js"></script>
<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../iron-pages/iron-pages.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-dialog/paper-dialog.html">
<link rel="import" href="../paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="../paper-header-panel/paper-header-panel.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-spinner/paper-spinner.html">
<link rel="import" href="../paper-toolbar/paper-toolbar.html">
<link rel="import" href="campus-container.html">
<link rel="import" href="campus-component.html">
<link rel="import" href="campus-dashboard.html">
<link rel="import" href="campus-language.html">
<link rel="import" href="campus-role.html">
<link rel="import" href="campus-school.html">
<link rel="import" href="campus-theme.html">
<!--
`campus-app`
@demo demo/campus-app.html
-->
<dom-module id="campus-app">
    <style include="iron-flex iron-flex-alignment iron-flex-factors iron-positioning"></style>
    <style>
        :host {
            display: block;
            position: relative;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            height: 100%;
        }
        
        :host paper-item {
            color: rgba(0, 0, 0, .67);
            min-height: 36px;
        }
        
        :host paper-item:hover {
            background-color: rgba(0, 0, 0, .13);
            cursor: pointer;
        }
        
        paper-header-panel {
            --paper-header-panel-waterfall-container: {
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
            }
        }

        @media (min-width: 1025px) {
            :host [main] paper-toolbar {
                display: none;
            }
        }
    </style>
    <template>
        <iron-pages selected="{{status.page}}">
            <div class="fit layout vertical center-center">
                <paper-spinner active></paper-spinner>
            </div>
            <paper-drawer-panel id="drawer" responsive-width="1024px">
                <paper-header-panel mode="waterfall" drawer>
                    <paper-toolbar>
                        <paper-button style="font-size:20px" on-tap="_dashboard">1Campus</paper-button>
                    </paper-toolbar>
                    <div class="fit layout vertical">
                        <campus-component id="campusComponent" items="{{components}}" selected="{{selectedComponent}}" class="flex-auto"></campus-component>
                        <div style="border-top:1px solid #eee">
                            <paper-item on-tap="_its5sync" hidden$="{{its5SyncTarget.noSync}}">
                                <iron-icon icon="icons:cached"></iron-icon>
                                <span style="margin-left:10px">{{translate._03}}</span>
                            </paper-item>
                            <campus-role id="campusRole" selected="{{role}}" roles="{{school.roles}}" lang="{{language}}" hidden$="{{campus.coreOnly}}"></campus-role>
                            <campus-language id="campusLanguage" selected="{{language}}" hidden$="{{campus.languageOnly}}"></campus-language>
                            <campus-theme id="campusTheme" selected="{{theme}}" lang="{{language}}"></campus-theme>
                            <campus-school id="campusSchool" selected="{{school}}" items="{{schools}}"></campus-school>
                            <paper-item on-tap="_logout">
                                <iron-icon icon="icons:exit-to-app"></iron-icon>
                                <span style="margin-left:10px">{{translate._01}}</span>
                            </paper-item>
                        </div>
                    </div>
                </paper-header-panel>
                <div class="layout vertical" main>
                    <paper-toolbar>
                        <paper-icon-button icon="icons:menu" paper-drawer-toggle></paper-icon-button>
                        <div class="title">{{componentTitle}}</div>
                    </paper-toolbar>
                    <iron-pages class="flex-auto" style="position:relative" selected="{{status.content}}">
                        <campus-dashboard class="fit" items="{{components}}"></campus-dashboard>
                        <campus-container class="fit" selected="{{selectedComponent}}"></campus-container>
                    </iron-pages>
                </div>
            </paper-drawer-panel>
        </iron-pages>
        <paper-dialog id="alertDialog" modal>
            <paper-dialog-scrollable>
                <h1>{{translate._02}}</h1>
            </paper-dialog-scrollable>
            <div class="buttons">
                <paper-button on-tap="_logout">{{translate._01}}</paper-button>
            </div>
        </paper-dialog>
    </template>
    <script>
        Polymer({
            is: "campus-app",

            properties: {
                languages: {
                    type: Object,
                    readOnly: true,
                    value: {
                        "zh-tw": {
                            "_01": "登出",
                            "_02": "你沒有權限使用本系統!",
                            "_03": "iTS5 資料同步"
                        },
                        "zh-cn": {
                            "_01": "退出",
                            "_02": "你没有权限使用本系统!",
                            "_03": "iTS5 资料同步"
                        },
                        "en-us": {
                            "_01": "Logout",
                            "_02": "You do not have permission to use this system!"
                        },
                        "vi-vn": {
                            "_01": "Thoát ra",
                            "_02": "Bạn không có quyền sử dụng hệ thống này!"
                        }
                    }
                },
                ajaxUrl: {
                    type: Object,
                    readOnly: true,
                    value: {
                        logout: [Campus.baseUrl, '/logout'].join(''),
                        account: [Campus.baseUrl, '/account'].join(''),
                        modules: [Campus.baseUrl, '/dist/modules.xml'].join('')
                    }
                },
                language: {
                    type: Object,
                    readOnly: true
                },
                school: {
                    type: Object,
                    readOnly: true
                },
                status: {
                    type: Object,
                    value: {
                        page: 0,
                        content: 0
                    }
                }
            },

            ready: function() {
                this.set('campus', JSON.parse(JSON.stringify(window.Campus)));
                this.set('translate', this.languages['en-us']);

                // campus-role
                this.$.campusRole.addEventListener('changed', function(e) {
                    e.stopPropagation();

                    this._setAccount(e.detail, function() {
                        window.location.href = [window.location.origin, window.location.pathname].join('');
                    }.bind(this));
                }.bind(this));
                this.$.campusRole.addEventListener('toggle', function(e) {
                    this.$.campusLanguage.close();
                    this.$.campusTheme.close();
                    this.$.campusSchool.close();
                }.bind(this));

                // campus-language
                this.$.campusLanguage.addEventListener('changed', function(e) {
                    e.stopPropagation();

                    this._setAccount(e.detail, function() {
                        window.location.reload();
                    }.bind(this));
                }.bind(this));
                this.$.campusLanguage.addEventListener('toggle', function(e) {
                    this.$.campusRole.close();
                    this.$.campusTheme.close();
                    this.$.campusSchool.close();
                }.bind(this));

                // campus-theme
                this.$.campusTheme.addEventListener('changed', function(e) {
                    e.stopPropagation();

                    this._setAccount(e.detail, function() {
                        window.location.reload();
                    }.bind(this));
                }.bind(this));
                this.$.campusTheme.addEventListener('toggle', function(e) {
                    this.$.campusRole.close();
                    this.$.campusLanguage.close();
                    this.$.campusSchool.close();
                }.bind(this));

                // campus-school
                this.$.campusSchool.addEventListener('changed', function(e) {
                    e.stopPropagation();

                    this._setAccount(e.detail, function() {
                        window.location.href = [window.location.origin, window.location.pathname].join('');
                    });
                }.bind(this));
                this.$.campusSchool.addEventListener('toggle', function(e) {
                    this.$.campusRole.close();
                    this.$.campusLanguage.close();
                    this.$.campusTheme.close();
                }.bind(this));

                this._getAccount();
            },

            _dashboard: function(e) {
                page('/dashboard');
            },

            _its5sync: function (e) {
                var pw = window.open('', '', 'left=200,top=100,height=320,width=480');
                pw.document.write([
                    '<div style="padding:20px">',
                    '<form method="get" action="', this.its5SyncTarget.url, '">',
                    '<h1>', this.translate._03, '</h1>',
                    '<input type="submit" value="同步">',
                    '</form>',
                    '</div>'
                ].join(''));
                pw.document.close();
                pw.focus();
            },

            _logout: function() {
                this._ajax({
                    method: 'POST',
                    url: this.ajaxUrl.logout,
                }, function(response) {
                    window.location.href = Campus.logoutUrl;
                }.bind(this));
            },

            _getAccount: function() {
                this._ajax({
                    method: 'GET',
                    url: this.ajaxUrl.account,
                    responseType: 'json',
                    header: {
                        "Content-Type": 'application/json'
                    }
                }, function(response) {
                    this.set('translate', this.languages[response.language.code] || this.languages['en-us']);

                    if (!response.school.current) {
                        this._alertDialog()
                        return;
                    }

                    this._setLanguage(response.language);
                    this._setSchool(response.school.current);

                    this.set('its5SyncTarget', { noSync: true});
                    this.campus.its5Sync.forEach(function(t) {
                        if (t.dsns === response.school.current.dsns) {
                            this.set('its5SyncTarget.url', t.url);
                            this.set('its5SyncTarget.noSync', false);
                        }
                    });

                    window.Campus.school = JSON.parse(JSON.stringify(response.school.current));
                    window.Campus.language = JSON.parse(JSON.stringify(response.language));

                    this.set('schools', response.school.items);
                    this.set('account', response);
                    this.set('role', response.role);
                    this.set('theme', response.theme);

                    this._initComponent();

                    setTimeout(function() {
                        this._updateTheme(response.theme);
                        this.set('status.page', 1);

                        // campus-dashboard
                        this.$$('campus-dashboard').addEventListener('changed', function(e) {
                            e.stopPropagation();

                            if (e.detail.type === 'component')
                                page(e.detail.routeUrl);
                            else
                                this._toggleComponent(e.detail);
                        }.bind(this));

                        // campus-component
                        this.$$('campus-component').addEventListener('changed', function(e) {
                            e.stopPropagation();

                            if (e.detail.type === 'component')
                                page(e.detail.routeUrl);
                            else
                                this._toggleComponent(e.detail);
                        }.bind(this));
                    }.bind(this), 1000);
                }.bind(this));
            },

            _setAccount: function(request, callback) {
                this._ajax({
                    method: 'POST',
                    url: this.ajaxUrl.account,
                    request: request,
                    responseType: 'json',
                    header: {
                        "Content-Type": 'application/json'
                    }
                }, callback);
            },

            _initComponent: function() {
                this.component = {
                    admin: [],
                    teacher: [],
                    student: [],
                    parent: [],
                    initAdmin: false,
                    initTeacher: false,
                    initStudent: false,
                    initParent: false
                };

                if (this.school.roles.admin) {
                    Polymer.Base.importHref([Campus.rootPath, '/components/component_admin.html'].join(''), function() {
                        this.component.admin = [].concat(window.Campus.AdminComponents);

                        this.component.admin.forEach(function(c) {
                            page(c.routeUrl, function() {
                                this._toggleComponent(c);
                            }.bind(this));

                            c.label = c.title[this.language.code] || c.title['en-us'];
                        }.bind(this));

                        delete window.Campus.AdminComponents;

                        this.component.initAdmin = true;
                        this._nextInitComponent();

                    }.bind(this));
                } else
                    this.component.initAdmin = true;

                if (this.school.roles.teacher) {
                    Polymer.Base.importHref([Campus.rootPath, '/components/component_teacher.html'].join(''), function() {
                        this.component.teacher = [].concat(window.Campus.TeacherComponents || []);

                        this.component.teacher.forEach(function(c) {
                            page(c.routeUrl, function() {
                                this._toggleComponent(c);
                            }.bind(this));

                            c.label = c.title[this.language.code] || c.title['en-us'];
                        }.bind(this));

                        delete window.Campus.TeacherComponents;

                        this.component.initTeacher = true;
                        this._nextInitComponent();

                    }.bind(this));
                } else
                    this.component.initTeacher = true;

                if (this.school.roles.student) {
                    Polymer.Base.importHref([Campus.rootPath, '/components/component_student.html'].join(''), function() {
                        this.component.student = [].concat(window.Campus.StudentComponents || []);

                        this.component.student.forEach(function(c) {
                            page(c.routeUrl, function() {
                                this._toggleComponent(c);
                            }.bind(this));

                            c.label = c.title[this.language.code] || c.title['en-us'];
                        }.bind(this));

                        delete window.Campus.StudentComponents;

                        this.component.initStudent = true;
                        this._nextInitComponent();

                    }.bind(this));
                } else
                    this.component.initStudent = true;

                if (this.school.roles.parent) {
                    Polymer.Base.importHref([Campus.rootPath, '/components/component_parent.html'].join(''), function() {
                        this.component.parent = [].concat(window.Campus.ParentComponents || []);

                        this.component.parent.forEach(function(c) {
                            page(c.routeUrl, function() {
                                this._toggleComponent(c);
                            }.bind(this));

                            c.label = c.title[this.language.code] || c.title['en-us'];
                        }.bind(this));

                        delete window.Campus.ParentComponents;

                        this.component.initParent = true;
                        this._nextInitComponent();

                    }.bind(this));
                } else
                    this.component.initParent = true;
            },

            _nextInitComponent: function() {
                if (!(this.component.initAdmin &&
                        this.component.initTeacher &&
                        this.component.initStudent &&
                        this.component.initParent)) return;

                page('/dashboard', function() {
                    this.set('componentTitle', Campus.school.name);
                    this.set('status.content', 0);

                    this.$.drawer.closeDrawer();
                }.bind(this));

                page('*', function() {
                    page('/dashboard');
                });

                page({
                    hashbang: true
                });

                if (Campus.loadGadget)
                    this._loadGadget();
                else {
                    if (Campus.coreOnly) {
                        if (this.school.roles.admin && (!this.role || this.role === 'admin'))
                            this._updateRole('admin');
                        else
                            this._alertDialog()
                    } else {
                        if (this.school.roles.admin && (!this.role || this.role === 'admin'))
                            this._updateRole('admin');
                        else if (this.school.roles.teacher && (!this.role || this.role === 'teacher'))
                            this._updateRole('teacher');
                        else if (this.school.roles.student && (!this.role || this.role === 'student'))
                            this._updateRole('student');
                        else if (this.school.roles.parent && (!this.role || this.role === 'parent'))
                            this._updateRole('parent');
                        else
                            this._alertDialog()
                    }
                }
            },

            _alertDialog: function() {
                this.$.alertDialog.open();
            },

            _loadGadget: function() {
                if (this.school.url) {
                    this._ajax({
                        method: 'GET',
                        url: this.ajaxUrl.modules,
                    }, function(response, xhr) {
                        var xmlModule = xhr.responseXML;

                        this._ajax({
                            method: 'GET',
                            url: [this.school.url, '/dynpkg/package.list?rsptype=xmlcontent&parser=onelayer&content=UserID:', this.account.mail].join('')
                        }, function(response, xhr) {
                            var xmlPackage = xhr.responseXML;

                            if (this.school.roles.teacher) {
                                var items = [];
                                var gadgets = [].concat(this._query(xmlPackage).find('Packages > Package[target_type="Teacher"] > Gadgets > Gadget') || []);
                                gadgets.forEach(function(gadget) {
                                    var modulePrefs = this._query(xmlModule).find(['Modules > Module[GUID="', gadget.attr('deployPath'), '"] > ModulePrefs'].join(''));
                                    if (modulePrefs) {
                                        items.push({
                                            template: '/gadget',
                                            id: gadget.attr('id') || gadget.attr('deployPath'),
                                            iconImage: modulePrefs.attr('iconfamily') ? ['https://web2.ischool.com.tw/', modulePrefs.attr('iconfamily')].join('') : [
                                                'https://web2.ischool.com.tw/deployment/', gadget.attr('deployPath'), '/', this._query(modulePrefs).find(
                                                    'Icon').text()
                                            ].join(''),
                                            label: modulePrefs.attr('title'),
                                            title: {
                                                'zh-tw': this._query(modulePrefs).find('Title[lang="zh-TW"]') ? this._query(modulePrefs).find('Title[lang="zh-TW"]').text() : modulePrefs.attr('title') || '',
                                                'zh-cn': this._query(modulePrefs).find('Title[lang="zh-CN"]') ? this._query(modulePrefs).find('Title[lang="zh-CN"]').text() : modulePrefs.attr('title') || '',
                                                'en-us': this._query(modulePrefs).find('Title[lang="en-US"]') ? this._query(modulePrefs).find('Title[lang="en-US"]').text() : modulePrefs.attr('title') || ''
                                            },
                                            type: modulePrefs.attr('popupURL') || 'gadget',
                                            role: '教師'
                                        });
                                    }
                                }.bind(this));
                                this.component.teacher = this.component.teacher.concat(items);
                            }

                            if (this.school.roles.student) {
                                var items = [];
                                var gadgets = [].concat(this._query(xmlPackage).find('Packages > Package[target_type="Student"] > Gadgets > Gadget') || []);
                                gadgets.forEach(function(gadget) {
                                    var modulePrefs = this._query(xmlModule).find(['Modules > Module[GUID="', gadget.attr('deployPath'), '"] > ModulePrefs'].join(''));
                                    if (modulePrefs) {
                                        items.push({
                                            template: '/gadget',
                                            id: gadget.attr('id') || gadget.attr('deployPath'),
                                            iconImage: modulePrefs.attr('iconfamily') ? ['https://web2.ischool.com.tw/', modulePrefs.attr('iconfamily')].join('') : [
                                                'https://web2.ischool.com.tw/deployment/', gadget.attr('deployPath'), '/', this._query(modulePrefs).find(
                                                    'Icon').text()
                                            ].join(''),
                                            label: modulePrefs.attr('title'),
                                            title: {
                                                'zh-tw': this._query(modulePrefs).find('Title[lang="zh-TW"]') ? this._query(modulePrefs).find('Title[lang="zh-TW"]').text() : modulePrefs.attr('title') || '',
                                                'zh-cn': this._query(modulePrefs).find('Title[lang="zh-CN"]') ? this._query(modulePrefs).find('Title[lang="zh-CN"]').text() : modulePrefs.attr('title') || '',
                                                'en-us': this._query(modulePrefs).find('Title[lang="en-US"]') ? this._query(modulePrefs).find('Title[lang="en-US"]').text() : modulePrefs.attr('title') || ''
                                            },
                                            type: modulePrefs.attr('popupURL') || 'gadget',
                                            role: '學生'
                                        });
                                    }
                                }.bind(this));
                                this.component.student = this.component.student.concat(items);
                            }

                            if (this.school.roles.parent) {
                                var items = [];
                                var gadgets = [].concat(this._query(xmlPackage).find('Packages > Package[target_type="Parent"] > Gadgets > Gadget') || []);
                                gadgets.forEach(function(gadget) {
                                    var modulePrefs = this._query(xmlModule).find(['Modules > Module[GUID="', gadget.attr('deployPath'), '"] > ModulePrefs'].join(''));
                                    if (modulePrefs) {
                                        items.push({
                                            template: '/gadget',
                                            id: gadget.attr('id') || gadget.attr('deployPath'),
                                            iconImage: modulePrefs.attr('iconfamily') ? ['https://web2.ischool.com.tw/', modulePrefs.attr('iconfamily')].join('') : [
                                                'https://web2.ischool.com.tw/deployment/', gadget.attr('deployPath'), '/', this._query(modulePrefs).find(
                                                    'Icon').text()
                                            ].join(''),
                                            label: modulePrefs.attr('title'),
                                            title: {
                                                'zh-tw': this._query(modulePrefs).find('Title[lang="zh-TW"]') ? this._query(modulePrefs).find('Title[lang="zh-TW"]').text() : modulePrefs.attr('title') || '',
                                                'zh-cn': this._query(modulePrefs).find('Title[lang="zh-CN"]') ? this._query(modulePrefs).find('Title[lang="zh-CN"]').text() : modulePrefs.attr('title') || '',
                                                'en-us': this._query(modulePrefs).find('Title[lang="en-US"]') ? this._query(modulePrefs).find('Title[lang="en-US"]').text() : modulePrefs.attr('title') || ''
                                            },
                                            type: modulePrefs.attr('popupURL') || 'gadget',
                                            role: '家長'
                                        });
                                    }
                                }.bind(this));
                                this.component.parent = this.component.parent.concat(items);
                            }

                            if (this.school.roles.admin && (this.role === 'admin' || !this.role))
                                this._updateRole('admin');
                            else if (this.school.roles.teacher && (this.role === 'teacher' || !this.role))
                                this._updateRole('teacher');
                            else if (this.school.roles.student && (this.role === 'student' || !this.role))
                                this._updateRole('student');
                            else if (this.school.roles.parent && (this.role === 'parent' || !this.role))
                                this._updateRole('parent');
                        }.bind(this));
                    }.bind(this));
                }
            },

            _toggleComponent: function(target) {
                if (target.type === 'component') {
                    this.set('selectedComponent', target);
                    this.set('componentTitle', target.label);
                    this.set('status.content', 1);

                    this.$.drawer.closeDrawer();
                } else {
                    if (target.type === 'gadget') {
                        window.open(encodeURI(['https://web2.ischool.com.tw/#', this.school.dsns, '_', target.role, '_', target.id].join('')), '_blank');
                    } else
                        window.open(target.type, '_blank');

                    page('/dashboard');
                }
            },

            _refreshComponent: function() {
                this.components.forEach(function(item, index) {
                    this.set(['components.', index, '.label'].join(''), item.title[this.language.code] || item.title['en-us']);
                }.bind(this));

                this.component.admin.forEach(function(c) {
                    if (c.type === 'component' && c.nodeElement)
                        c.label = c.nodeElement.title[this.language.code] || c.title['en-us'];
                }.bind(this));
                this.component.teacher.forEach(function(c) {
                    if (c.type === 'component' && c.nodeElement)
                        c.label = c.nodeElement.title[this.language.code] || c.title['en-us'];
                }.bind(this));
                this.component.student.forEach(function(c) {
                    if (c.type === 'component' && c.nodeElement)
                        c.label = c.nodeElement.title[this.language.code] || c.title['en-us'];
                }.bind(this));
                this.component.parent.forEach(function(c) {
                    if (c.type === 'component' && c.nodeElement)
                        c.label = c.nodeElement.title[this.language.code] || c.title['en-us'];
                }.bind(this));
            },

            _updateRole: function(target) {
                if (!this.component || ['admin', 'teacher', 'student', 'parent'].indexOf(target) === -1) return;

                this.set('role', target);
                this.set('components', this.component[target]);
            },

            _updateTheme: function(target) {
                this.customStyle['--primary-color'] = ['var(--paper-', target, '-700)'].join('');
                this.customStyle['--default-primary-color'] = ['var(--paper-', target, '-700)'].join('');
                this.customStyle['--light-primary-color'] = ['var(--paper-', target, '-300)'].join('');
                this.customStyle['--dark-primary-color'] = ['var(--paper-', target, '-900)'].join('');
                this.customStyle['--accent-color'] = ['var(--paper-', target, '-a200)'].join('');
                this.customStyle['--light-accent-color'] = ['var(--paper-', target, '-a100)'].join('');
                this.customStyle['--dark-accent-color'] = ['var(--paper-', target, '-a400)'].join('');
                this.updateStyles();
            },

            _ajax: function(options, callback) {
                var xhr = new XMLHttpRequest();

                try {
                    if (options.method && options.url)
                        xhr.open(options.method, options.url, true);

                    if (options.header) {
                        for (k in options.header)
                            xhr.setRequestHeader(k, options.header[k]);
                    }

                    if (options.responseType)
                        xhr.responseType = options.responseType;

                    xhr.onload = function() {
                        if (callback) callback(this.response, xhr);
                    };

                    if (options.request) {
                        if (typeof options.request === 'object')
                            xhr.send(JSON.stringify(options.request));
                        else
                            xhr.send(options.request);
                    } else
                        xhr.send();
                } catch (err) {
                    console.error(err);
                }
            },

            _query: function(target) {
                return {
                    find: function(scheme) {
                        try {
                            var nodes = target.querySelectorAll(scheme);

                            if (nodes.length === 0) {
                                return null;
                            } else if (nodes.length === 1) {
                                var item = Array.from(nodes)[0];

                                item.attr = function(key) {
                                    return this.getAttribute(key);
                                }

                                item.text = function() {
                                    var value = '';

                                    if (this.childNodes.length > 0)
                                        value = this.childNodes[0].nodeValue;

                                    return value;
                                }

                                return item;
                            } else {
                                var items = Array.from(nodes);
                                items.forEach(function(item) {
                                    item.attr = function(key) {
                                        return item.getAttribute(key);
                                    }

                                    item.text = function() {
                                        var value = '';

                                        if (this.childNodes.length > 0)
                                            value = this.childNodes[0].nodeValue;

                                        return value;
                                    }
                                });

                                return items;
                            }
                        } catch (err) {
                            console.error(err);
                        }
                    }
                }
            }
        });
    </script>
</dom-module>
