<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-icons/av-icons.html">
<link rel="import" href="../iron-icons/communication-icons.html">
<link rel="import" href="../iron-icons/device-icons.html">
<link rel="import" href="../iron-icons/editor-icons.html">
<link rel="import" href="../iron-icons/hardware-icons.html">
<link rel="import" href="../iron-icons/image-icons.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../iron-icons/maps-icons.html">
<link rel="import" href="../iron-icons/notification-icons.html">
<link rel="import" href="../iron-icons/places-icons.html">
<link rel="import" href="../iron-icons/social-icons.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-listbox/paper-listbox.html">
<!--
`campus-component`
@demo demo/campus-component.html
-->
<dom-module id="campus-component">
    <style>
        :host {
            display: block;
            position: relative;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }

        :host paper-listbox {
            padding: 0;
        }
        
        :host paper-item {
            color: rgba(0, 0, 0, .67);
        }
        
        :host paper-item:hover {
            background-color: rgba(0, 0, 0, .13);
            cursor: pointer;
        }
        
        :host .ellipsis-text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
    <template>
        <paper-listbox selected="{{selected}}" attr-for-selected="value">
            <template is="dom-repeat" items="[[items]]">
                <paper-item value="{{item}}">
                    <iron-icon icon="[[item.iconFont]]" hidden$="[[!item.iconFont]]"></iron-icon>
                    <img src$="[[item.iconImage]]" style="height:24px;width:24px" hidden$="[[!item.iconImage]]" />
                    <div class="ellipsis-text" style="margin-left:10px">[[item.label]]</div>
                </paper-item>
            </template>
        </paper-listbox>
    </template>
    <script>
        Polymer({
            is: "campus-component",

            properties: {
                items: Array,
                selected: {
                    type: Object,
                    observer: '_selectedObserver'
                }
            },

            _selectedObserver: function(newValue, oldValue) {
                this.fire('changed', newValue);
            },

            ready: function() {
                this.set('hiddenItem', true);
            }
        });

        /*
         * @event changed
         */
    </script>
</dom-module>
