<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-icons/social-icons.html">
<link rel="import" href="../paper-item/paper-item.html">
<!--
`campus-school`
@demo demo/campus-school.html
-->
<dom-module id="campus-school">
    <style>
        :host {
            display: block;
            position: relative;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }
        
        :host paper-item {
            color: rgba(0, 0, 0, .67);
            min-height: 36px;
        }
        
        :host paper-item:hover {
            background-color: rgba(0, 0, 0, .13);
            cursor: pointer;
        }
        
        :host .ellipsis-text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
    <template>
        <div hidden$="[[oneSchool]]">
            <paper-item on-tap="_toggle">
                <iron-icon icon="social:school"></iron-icon>
                <div class="ellipsis-text" style="margin-left:10px">[[selected.name]]</div>
            </paper-item>
            <div style="max-height:144px;overflow:auto" hidden$="[[hiddenItem]]">
                <template is="dom-repeat" items="[[items]]">
                    <paper-item class="ellipsis-text" style="padding-left:50px" on-tap="_change">[[item.name]]</paper-item>
                </template>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: "campus-school",

            properties: {
                items: {
                    type: Array,
                    observer: '_itemsChanged'
                },
                selected: Object
            },

            ready: function() {
                this.set('hiddenItem', true);
            },

            close: function() {
                this.set('hiddenItem', true);
            },

            _itemsChanged: function(newValue, oldValue) {
                this.set('oneSchool', newValue.length > 1 ? false : true);
            },

            _toggle: function(e) {
                this.set('hiddenItem', !this.hiddenItem);
                this.fire('toggle');
            },

            _change: function(e) {
                this.fire('changed', {
                    school: e.model.item
                });
            }
        });

        /*
         * @event changed
         * @event toggle
         */
    </script>
</dom-module>
