<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../iron-icons/av-icons.html">
<link rel="import" href="../iron-icons/communication-icons.html">
<link rel="import" href="../iron-icons/device-icons.html">
<link rel="import" href="../iron-icons/editor-icons.html">
<link rel="import" href="../iron-icons/hardware-icons.html">
<link rel="import" href="../iron-icons/image-icons.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../iron-icons/maps-icons.html">
<link rel="import" href="../iron-icons/notification-icons.html">
<link rel="import" href="../iron-icons/places-icons.html">
<link rel="import" href="../iron-icons/social-icons.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-header-panel/paper-header-panel.html">
<link rel="import" href="../paper-material/paper-material.html">
<link rel="import" href="../paper-toolbar/paper-toolbar.html">
<link rel="import" href="../paper-tooltip/paper-tooltip.html">
<!--
`campus-dashboard`
@demo demo/campus-dashboard.html
-->
<dom-module id="campus-dashboard">
    <style include="iron-flex iron-flex-alignment iron-flex-factors iron-positioning"></style>
    <style>
        :host {
            display: block;
            position: relative;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            height: 100%;
        }
        
        :host paper-tooltip {
            --paper-tooltip: {
                font-size: 16px;
            }
            --paper-tooltip-opacity: 1;
            --paper-tooltip-background: rgba(0, 0, 0, .67);
        }
        
        :host .ellipsis-text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: center;
            color: var(--secondary-text-color);
            max-width: 110px;
            font-size: 18px;
        }
        
        :host .cell-item {
            margin: 8px;
            background: #fff;
            cursor: pointer;
            flex: 2 1 128px;
        }
        
        :host .img-item {
            width: 100%;
            height: 100%;
        }

        @media (max-width: 1024px) {
            :host paper-toolbar {
                display: none;
            }
        }
    </style>
    <template>
        <paper-header-panel mode="waterfall">
            <paper-toolbar></paper-toolbar>
            <div class="layout vertical center-center" style="max-width:992px;padding:16px;margin:0 auto">
                <div class="layout horizontal wrap">
                    <template is="dom-repeat" items="[[items]]">
                        <paper-material elevation="1" class="cell-item" on-tap="_choose">
                            <div class="layout vertical center-center" style="padding:15px;color:rgba(0,0,0,.67)">
                                <iron-icon icon="[[item.iconFont]]" class="img-item" hidden$="[[!item.iconFont]]"></iron-icon>
                                <img src$="[[item.iconImage]]" class="img-item" hidden$="[[!item.iconImage]]" />
                            </div>
                            <div class="layout horizontal center-center" style="padding:8px;border-top:1px solid #eee">
                                <div class="ellipsis-text">[[item.label]]</div>
                                <paper-tooltip position="top" animation-delay="100" margin-top="0" offset="0">[[item.label]]</paper-tooltip>
                            </div>
                        </paper-material>
                    </template>
                    <template is="dom-repeat" items="[[space_items]]">
                        <div class="cell-item" style="visibility:hidden"></div>
                    </template>
                </div>
                <paper-button on-tap="_home" style="color:rgba(0,0,0,.67);margin-top:20px;cursor:pointer">POWERED BY ISCHOOL</paper-button>
            </div>
        </paper-header-panel>
    </template>
    <script>
        Polymer({
            is: "campus-dashboard",

            properties: {
                items: {
                    type: Array,
                    observer: '_itemsChanged'
                }
            },

            _itemsChanged: function(newValue, oldValue) {
                var items = [1,2,3,4,5];
                this.set('space_items', items);
            },

            _choose: function(e) {
                this.fire('changed', e.model.item);
            },

            _home: function(e) {
                window.open('http://www.ischool.com.tw', '_blank');
            }
        });

        /*
         * @event changed
         */
    </script>
</dom-module>
