<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../iron-pages/iron-pages.html">
<link rel="import" href="../paper-spinner/paper-spinner.html">
<!--
`campus-container`
@demo demo/campus-container.html
-->
<dom-module id="campus-container">
    <style include="iron-flex iron-flex-alignment iron-flex-factors iron-positioning"></style>
    <style>
        :host {
            display: block;
            position: relative;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            height: 100%;
            background: #f2f2f2;
            overflow: auto;
        }
    </style>
    <template>
        <iron-pages selected="{{content}}">
            <div class="fit layout vertical center-center">
                <paper-spinner active></paper-spinner>
            </div>
            <div id="container" class="fit"></div>
        </iron-pages>
    </template>
    <script>
        Polymer({
            is: "campus-container",

            properties: {
                selected: {
                    type: Object,
                    observer: '_selectedChanged'
                },
                content: {
                    type: Number,
                    value: 0
                }
            },

            _selectedChanged: function(newValue, oldValue) {
                if (oldValue && oldValue.nodeElement) {
                    this.set('content', 0);
                    this.$.container.removeChild(oldValue.nodeElement);
                }

                setTimeout(function() {
                    this.set('content', 1);
                    newValue.nodeElement = document.createElement(newValue.nodeName);
                    this.$.container.appendChild(newValue.nodeElement);
                }.bind(this), 300);
            }
        });
    </script>
</dom-module>
